/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F9F9F9; 
    color: #333; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFB6C1; 
    color: #FFFFFF; 
    padding: 20px;
    text-align: center;
}


.skills{
    background-color: #FFEFD5; /* Beige clair */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 15px;
}
.projects {
    background-color: #ADD8E6; /* Bleu clair */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
}

